<section class="container1">
    <% @transacs.each do |trans| %>
        <div class="row border my-1">
  <div class="col-9">

    <p class="transac-name">Transaction <%= trans.name %></p>
    <p class="date"><%= trans.created_at %></p>
  </div>
  <div class="col-3">
    <span class="amount-dls">$<%= trans.amount %></span>
  </div>
</div>
    <% end %>
</section>

<div class="bottom-container position-fixed bottom-0 w-100 btn-bg">
  <div class="inner-bottom-container text-center">
    <%= link_to "New transactions", new_transac_path, class: "text-white" %>
  </div>
</div>