<div id="<%= dom_id categories_transac %>">
  <p>
    <strong>Transacs:</strong>
    <%= categories_transac.transacs_id %>
  </p>

  <p>
    <strong>Categories:</strong>
    <%= categories_transac.categories_id %>
  </p>

</div>
