<h1>Editing categories transac</h1>

<%= render "form", categories_transac: @categories_transac %>

<br>

<div>
  <%= link_to "Show this categories transac", @categories_transac %> |
  <%= link_to "Back to categories transacs", categories_transacs_path %>
</div>
